<template>
  <div class="conteiner">
    <svg width="80" height="80" viewBox="0 0 512 512" :fill="frogData.color">
      <path
        d="m403.264 375.34c-54.568 16.735-111.183 25.325-168.27 25.532-.036 0-.072 0-.109 0-.036 0-.072 0-.109 0-57.087-.207-113.702-8.797-168.27-25.532-2.81-.862-5.579-1.798-8.313-2.793 18.001 31.683 49.672 54.882 87.78 61.111 58.879 9.624 118.944 9.624 177.823 0 38.108-6.229 69.779-29.428 87.781-61.111-2.734.995-5.503 1.931-8.313 2.793z"
      />
      <path
        d="m455.081 211.058c-10.192-17.707-38.769-50.691-38.769-50.691 10.911-13.854 17.429-31.329 17.402-50.338-.064-43.841-35.52-80.109-79.349-81.112-45.746-1.047-83.158 35.724-83.158 81.232h-72.643c0-45.508-37.412-82.278-83.158-81.232-43.829 1.003-79.286 37.271-79.349 81.112-.028 19.009 6.491 36.485 17.402 50.338 0 0-28.577 32.984-38.769 50.691-10.017 17.403-23.808 60.293-6.314 87.303 15.369 23.729 39.899 40.008 66.927 48.297 52.001 15.948 105.781 24.019 159.583 24.214 53.802-.195 107.582-8.266 159.583-24.214 27.028-8.289 51.558-24.569 66.927-48.297 17.493-27.01 3.702-69.9-6.315-87.303zm-321.696-83.707c0 8.284-6.716 15-15 15s-15-6.716-15-15v-30c0-8.284 6.716-15 15-15s15 6.716 15 15zm72.915 184.133c-8.284 0-15-6.716-15-15s6.716-15 15-15 15 6.716 15 15c0 8.285-6.716 15-15 15zm61.163 0c-8.284 0-15-6.716-15-15s6.716-15 15-15 15 6.716 15 15c0 8.285-6.716 15-15 15zm98.922-184.133c0 8.284-6.716 15-15 15s-15-6.716-15-15v-30c0-8.284 6.716-15 15-15s15 6.716 15 15z"
      />
    </svg>
    <button @click="$emit('editColor', frogData.id)">Редактировать</button>
  </div>
</template>

<script>
export default {
  name: "frog",
  props: {
    frogData: {
      type: Object,
      required: true,
    },
    emits: { editColor: null },
  },
};
</script>

<style scoped>
.conteiner {
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

svg {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.8));
}
</style>
