<template>
  <div class="background" @click.self="cancel">
    <div class="modal">
      <h2><slot></slot></h2>
      <label>
        Имя цвета
        <input
          type="text"
          v-model="localData"
          :class="{ invalid: invalidColor }"
          @keyup.enter="save"
          ref="search"
        />
      </label>
      <div class="hints">
        <p class="error-message" v-if="invalidColor">Нет такого цвета</p>
        <ul v-else class="list-colors">
          <li
            :style="{ backgroundColor: name }"
            class="color"
            v-for="(name, index) in filteredColors"
            :key="index"
            @click="updateColor(name)"
          >
            {{ name }}
          </li>
        </ul>
      </div>
      <button @click="save" :disabled="disableButton">
        <span v-if="!passData">Добавить</span>
        <span v-else>Сохранить</span>
      </button>
      <button @click="cancel" @keyup.esc="cancel">Отменить</button>
    </div>
  </div>
</template>

<script>
import colors from "../colors.json";

export default {
  name: "modal",
  props: {
    passData: {
      type: String,
      default: "",
    },
  },
  emits: { save: null, cancel: null },
  data() {
    return {
      localData: this.passData,
      properColors: Object.keys(colors),
    };
  },
  methods: {
    save() {
      if (this.invalidColor || this.disableButton) {
        return;
      } else {
        this.$emit("save", this.localData);
      }
      this.localData = "";
    },
    cancel() {
      this.$emit("cancel");
      this.localData = "";
    },
    updateColor(color) {
      this.localData = color;
      this.save();
    },
  },
  mounted() {
    this.$nextTick(function() {
      this.$refs.search.focus();
    });
  },
  computed: {
    filteredColors() {
      return this.properColors.filter((word) => word.includes(this.localData));
    },
    invalidColor() {
      if (this.filteredColors.length === 0) {
        return true;
      } else {
        return false;
      }
    },
    disableButton() {
      return this.filteredColors.indexOf(this.localData) == -1;
    },
  },
};
</script>

<style scoped>
.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(32, 32, 32, 0.6);
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal {
  width: 20%;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin: 2em;
}

.hints {
  width: 90%;
  height: 100px;
  overflow-y: auto;
  margin: 0.2em;
}

.error-message {
  text-align: center;
  color: red;
}

.invalid:focus {
  outline: 1px solid red;
}

.list-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 80%;
  padding: 0;
}

.color {
  border: 1px solid black;
  border-radius: 0.2em;
  margin: 0.2em;
  padding: 0 0.3em;
  cursor: pointer;
}

button {
  margin: 0.4em;
}
</style>
