<template>
  <button @click="editFrog(null)">Добавить</button>
  <div class="container">
    <frog-instance
      v-for="frog in frogs"
      :key="frog.id"
      :frog-data="frog"
      @edit-color="editFrog"
    ></frog-instance>
  </div>
  <transition name="modal-fade">
    <modal
      v-if="showModal"
      :pass-data="currentColor"
      @save="saveFrog"
      @cancel="closeModal"
      >Модальное окно</modal
    ></transition
  >
</template>

<script>
import Modal from "./components/Modal.vue";
import FrogInstance from "./components/FrogInstance.vue";

export default {
  name: "App",
  components: {
    FrogInstance,
    Modal,
  },
  data() {
    return {
      frogs: [
        { id: 1, color: "red" },
        { id: 2, color: "green" },
        { id: 3, color: "yellow" },
      ],
      showModal: false,
      selectedFrog: null,
      currentColor: "",
    };
  },
  methods: {
    editFrog(selectedId) {
      if (selectedId) {
        this.selectedFrog = selectedId;
        this.currentColor = this.frogs.find((x) => x.id === selectedId).color;
      }
      this.showModal = true;
    },
    saveFrog(color) {
      if (this.selectedFrog) {
        this.frogs.find((x) => x.id === this.selectedFrog).color = color;
      } else {
        this.frogs.push({ id: this.frogs.length + 1, color: color });
      }
      this.showModal = false;
      this.currentColor = "";
      this.selectedFrog = null;
    },
    closeModal() {
      this.showModal = false;
      this.currentColor = "";
    },
  },
};
</script>

<style>
.container {
  display: flex;
  flex-flow: row wrap;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 1s ease;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}
</style>
